@import "tailwindcss";

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 570px;
  --breakpoint-lg: 780px;
  --breakpoint-xl: 1070px;
  --breakpoint-2xl: 1170px;
  
  }

@utility container{
  @apply mx-auto
}